@model IEnumerable<ValeActivitiesCentre.Models.Activity>

@{
    ViewBag.Title = "Our Activities";
}

<div class="jumbotron">
    <h2>Vale Activities Centre</h2>
    <h3>@ViewBag.Title</h3>
</div>

@foreach (var activity in Model)
{
    <section class="row">
        <section class="col-lg-6">
            <h2>@activity.Name</h2>
            <p>@activity.Description</p>
            <br /> <br />
        </section>

        <section class="col-lg-6">
            <p><img src="~/Images/Activities/@activity.ImageURL" alt="Photo of @activity.Name" width="200" height="200" /></p>
            <a href=" ~/Activities/ActivityDetails/@activity.ActivityID">
                Learn More
            </a>
            <br /><br /><br />
        </section>
       
    </section>
}

