@model ValeActivitiesCentre.Models.Activity
@using ValeActivitiesCentre.Models

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "ActivityDetails";
}

<div class="jumbotron">
    <h2>Vale Activities Centre</h2>
    <h3>@Model.Name</h3>
</div>

