@model ValeActivitiesCentre.Models.Activity
@{
    ViewBag.Title = "Book Activity";
}

<div class="jumbotron">
    <h2>Vale Activities Centre</h2>
    <h3>@ViewBag.Title: Booking Confirmation</h3>
</div>

<h4>Thank you for booking your place on @Model.Name</h4>

