@model IEnumerable<ValeActivitiesCentre.Models.Staff>

@{
    ViewBag.Title = "Our Staff Team";
}

<div class="jumbotron">
    <h2>Vale Activities Centre</h2>
    <h3>Meet our Staff Team</h3>
</div>

@foreach (var staff in Model)
{
    <section class="row">
        <section class="col-lg-6">


        </section>

        <section class="col-lg-6">


        </section>

    </section>
}

