@model IEnumerable<ValeActivitiesCentre.Models.Staff>
@using ValeActivitiesCentre.Models

@{
    ViewBag.Title = "Our Staff Team";
}

<div class="jumbotron">
    <h2>Vale Activities Centre</h2>
    <h3>Meet our Staff Team</h3>
</div>

@foreach (var staff in Model)
{
    <section class="row">
        <section class="col-lg-6">
            <h2>@staff.Person.FullName</h2>
            <p>@staff.Profile</p>
            <br /> <br />
        </section>

        <section class="col-lg-6">
            <br />
            <p><img src="~/Images/Staff/@staff.Person.ImageURL" alt="Photo of @staff.Person.FirstName" width="70" height="70" /></p>
            <br /><br /><br />
        </section>

    </section>
}

