@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vale Activities Centre</h1>
    <h2>@ViewBag.Title</h2>
</div>

<div class="row" style="text-align:justify;">
    <div class="col-md-6">
        <h2>About us</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">

        <h2>What we provide</h2>
        <p>
            It is a long established fact that a reader will be distracted by the readable
            content of a page when looking at its layout. The point of using Lorem Ipsum is
            that it has a more-or-less normal distribution of letters, as opposed to using
            'Content here, content here', making it look like readable English.
        </p>
        <p> @Html.ActionLink("Learn More", "ActivitiesList", "Activities")</p>

    </div>

</div>

<div class="row" style="text-align:justify">

    <div class="col-md-4">

        <br />
        <h2>Some reviews</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>

    </div>

</div>