@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vale Activities Centre</h1>
    <h2>@ViewBag.Title</h2>
</div>

<div class="row" style="text-align:justify;">
    <div class="col-md-6">
        <h2>About us</h2>
        <p>
            Vale Activities Centre is an establihed day centre for adults with learning 
            difficulties in the Vale of Aylesbury. We have a passionate and experienced 
            staff team dedicated to providing the best service we can offer.
        </p>
                
    </div>
    <div class="col-md-6">

        <h2>What we provide</h2>
        <p>
            We offer a range of various activities that are continually being changed.
            We involve our members in gathering feedback every couple of months to ask 
            about their particular favourites and what they might like to see added
            into our activity range.
        </p>
        <p> @Html.ActionLink("Learn More", "ActivitiesList", "Home")</p>

    </div>

</div>

<div class="row" style="text-align:justify">

    <div class="col-md-4">

        <br />
        <h2>Some reviews</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>

    </div>

</div>