<hr />
<footer>
    <div class="row">

        <div class="col-xs-9">
            <p class="text-center">
                &copy; @DateTime.Now.Year - Vale Activities Centre | BNU FD Computing | CO599 Work Related Project <br />

            <p class="text-center">
                @Html.ActionLink("Home |", "Index", "Home") 
            </p>

        </div>

        <div class="col-xs-3">
            <ul>
                <h4> <u>Opening Hours</u> </h4>
                <span class="border-primary">
                    <li>Monday - Friday : 9am - 6pm</li>
                    <li>Saturday : 9am - 7pm</li>
                    <li>Sunday : 10am - 4pm</li>
                </span>
            </ul>

        </div>

    </div>
    <hr />
</footer>