<hr />
<footer>
    <div class="row">

        <div class="col-xs-9">
            <br />
            <p class="text-center">
                &copy; @DateTime.Now.Year - Vale Activities Centre | BNU BSc in Computing | CO699 Project <br />

            <p class="text-center">
                @Html.ActionLink("Home |", "Index", "Home") @Html.ActionLink("Staff Portal", "Index", "Staffs")
            </p>

        </div>

        <div class="col-xs-3">
            <h3>Contact US</h3>
            <p> For any and all enquires, please contact:
            William@vac.org.uk</p>
        </div>

    </div>
    <hr />
</footer>
